*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
    color: #212121;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    margin: 0% 4%;
}

header ul li{
    margin: 10px;
}

main{
    margin: 0% 8%;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h1{
    font-size: 3.5rem;
}

#home h2{
    font-size: 2.2rem;
}

#home p{
    font-size: 1.4rem;
    margin: 1% 10%;
}

#home > *{
    text-align: center;
}

.buttons{
    display: flex;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

#about p{
    font-size: 1.5rem;
}

#about li{
    margin: 10px;
    font-size: 1.3rem;
}

#about img{
    height: 300px;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}